.footer {
    background-color: #1a1a1a;
    color: #f0f0f0;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1;
    margin: 10px;
}

.footer-links,
.footer-contact,
.footer-social {
    flex: 1;
    margin: 10px;
}

.footer-logo h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-links h4,
.footer-contact h4,
.footer-social h4 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a,
.footer-social a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
    color: #ff9800; /* Accent color */
}

.footer-social {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons .icon {
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    color: #f0f0f0;
    transition: background-color 0.3s;
}

.social-icons .icon:hover {
    background-color: #ff9800; /* Accent color */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.social-menu {
    transform: translate(0, -10%)
}